@charset "UTF-8";
/* CSS Document */
@import url('reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

/* /////////////////////////////// */
/*               BODY              */
/* /////////////////////////////// */
body,html{ height: 100%; font-family: 'Montserrat', sans-serif; }
*{ box-sizing: border-box; text-decoration: none; outline: none; }

/* /////////////////////////////// */
/*          TYPOS & COULEURS       */
/* /////////////////////////////// */
/*
font-family: 'Montserrat', sans-serif;
*/

/* /////////////////////////////// */
/*               FOND              */
/* /////////////////////////////// */
.fondDegrade{ position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	background: linear-gradient(45deg, #f7f75b 0%, #ef017c 100%); background-size: 500%;
	animation: fondAnime 7s ease-in-out infinite; z-index: -1; }
@keyframes fondAnime {
	0%{ background-position: 0 50%; }
	50%{ background-position: 100% 50%; }
	100%{ background-position: 0 50%; }
}

/* /////////////////////////////// */
/*              HEADER             */
/* /////////////////////////////// */
header{ margin: 0 auto; padding: 10px; text-align: center; color: white; max-width: 1366px; }
header h1{ margin: 20px 0; font-size: 42px; font-weight: 300; }
header p{ line-height: 1.6em; font-size: 16px; letter-spacing: 0.6px; font-weight: 400; }
header p a{ position: relative; display: inline-block; font-weight: 800; color: white; padding: 0 5px; margin: 5px; }
header p a::after{ content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 1px solid white; }

/* /////////////////////////////// */
/*              GALERIE            */
/* /////////////////////////////// */
main{ margin: 0 auto; padding: 10px; max-width: 1366px; }
.galerie{ display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row;
    -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
    -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start;
    -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start;
    -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; 
	width: 100%; }
.visuel{ position: relative; width: 50%; padding: 10px; overflow: hidden; cursor: zoom-in; opacity: 0; 
	transition: 0.5s opacity ease-in-out; }
.visible{ opacity: 1; }
.flou{ -webkit-filter: blur(4px); filter: blur(4px); }
.innerVisuel{ position: relative; width: 100%; color: white; padding: 10px; }
.innerVisuel h2{ position: absolute; top: 5px; left: 0; transform: rotate(-180deg);
	-webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr;
	font-size: 14px; z-index: 2; }
.innerVisuel span{ position: absolute; bottom: -10px; right: 0; font-weight: 800; font-size: 28px; z-index: 2; }
.imgVisuel{ width: 100%; padding: 5px 5px 5px 15px; transform: rotate(-3deg); overflow: hidden; }
.imgVisuel img{ display: block; width: 100%; height: 100%; object-fit: cover; border-top-right-radius: 10px; border-bottom-left-radius: 10px; }

/* /////////////////////////////// */
/*               PAGE              */
/* /////////////////////////////// */
.page{ display: none; position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; padding: 10px; 
	background: linear-gradient(45deg, #f7f75b 0%, #ef017c 100%); z-index: 99; cursor: zoom-out; }
.titreImgPage{ position: relative; width: 100%; max-width: 600px; margin: 0 auto 10px auto; padding: 10px; }
.titreImgPage h3{ display: block; position: absolute; width: 100%; top: 50%; left: 0; transform:translateY(-50%); z-index: 2; 
	color:#f5f75b; font-size: 36px; font-weight: 800; text-align: center; line-height: 1.1em; text-shadow: 1px 2px 0 black; }
.imgPage{ display: block; width: 100%; height: auto; overflow: hidden; transform: rotate(-3deg); padding: 10px; }
.imgPage img{ display: block; width: 100%; height: 100%; object-fit: cover; border-top-right-radius: 10px; border-bottom-left-radius: 10px; }
.textePage{ width: 100%; max-width: 1366px; margin: 0 auto; column-count: 1; column-gap: 0; color: white;
	padding: 0 10px; font-size: 14px; line-height: 1.6em; text-align: justify;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

/* /////////////////////////////// */
/*              FOOTER             */
/* /////////////////////////////// */
footer{ margin-top: 20px; width: 100%; padding: 20px 10px; font-size: 14px; color: white; text-align: center; text-transform: uppercase; }
footer b{ font-weight: 800; }

/* /////////////////////////////// */
/*     >= 768px | iPad portrait    */
/* /////////////////////////////// */
@media only screen and (min-width: 768px){
	/* Header */
	header{ padding: 20px; }
	header h1{ margin: 0 0 20px 0; }
	header p{ padding: 0 20px; }
	header p, header p a{ font-size: 15px; }
	/* Galerie */
	main{ padding: 0 20px; }
	.visuel{ width: 33.33%; }
	.innerVisuel{ padding: 15px; }
	.innerVisuel h2{ top: 15px; font-size: 15px; }
	.innerVisuel span{ font-size: 38px; }
	/* Page */
	.page{ padding: 20px; }
	.titreImgPage{ margin: 0 auto 20px auto; }
	.titreImgPage h3{ font-size: 46px; }
	.textePage{ font-size: 15px; line-height: 2em; padding: 0 20px; }
}

/* /////////////////////////////// */
/*   >= 1024px | iPadPro portrait  */
/* /////////////////////////////// */
@media only screen and (min-width: 1024px) and (orientation: portrait){
	/* Galerie */
	.visuel{ width: 33.33%; }
	.innerVisuel h2{ font-size: 16px; left: -5px; }
	.innerVisuel span{ bottom: -15px; font-size: 44px; }
	/* Page */
	.titreImgPage{ max-width: 700px; }
	.titreImgPage h3{ font-size: 56px; }
	.textePage{ padding: 20px; column-count: 2; column-gap: 40px; font-size: 16px; }
}

/* /////////////////////////////// */
/*     >= 1024px | iPad paysage    */
/* /////////////////////////////// */
@media only screen and (min-width: 1024px) and (orientation: landscape){
	/* Galerie */
	.visuel{ width: 25%; }
	.innerVisuel h2{ font-size: 15px; left: 0; }
	.innerVisuel span{ bottom: -15px; font-size: 44px; }
	/* Page */
	.titreImgPage h3{ font-size: 56px; }
	.textePage{ column-count: 2; column-gap: 40px; }
}

/* /////////////////////////////// */
/*  >= 1366px | iPadPro & Laptop   */
/* /////////////////////////////// */
@media only screen and (min-width: 1366px){
	/* Header */
	header h1{ font-size: 48px; margin: 20px 0 30px 0; }
	header p, header p a{ font-size: 16px; }
	/* Galerie */
	.innerVisuel h2{ font-size: 16px; }
	.innerVisuel span{ font-size: 48px; }
	html.no-touchevents .imgVisuel{ transition: 0.35s transform ease-in-out; }
	html.no-touchevents .visuel:hover .imgVisuel{ transform: rotate(0deg); }
	/* Page */
	.titreImgPage{ max-width: 700px; }
	.titreImgPage h3{ font-size: 66px; }
	.textePage{ font-size: 18px; padding: 20px; }
}